id_rsa

__pycache__
__pycache__/*
*/__pycache__
*/__pycache__/*
*.pyc
*/*.pyc
.vscode
.vscode/
*.pdf
*.csv
*_output/
*.zip
*_logfile.txt
*_log.txt
*.html
.ipynb_checkpoints
.ipynb_checkpoints/
.ipynb_checkpoints/*
DEPRECATED*.py
example_data/imputed/*_log.txt
training_data/download
training_data/extracted
training_data/extracted/*
training_data/extracted/
training_data/extracted_backup/
training_data/extracted_backup/*
training_data/extracted_backup
training_data/collated
training_data/collated/*
training_data/collated/
.ipynb_checkpoints
.ipynb_checkpoints/
.ipynb_checkpoints/*
.mypy_cache/
.mypy_cache/*
mypy.ini
.optimal_model/
.optimal_model/*
optimal_nlpca_model/
optimal_nlpca_model/*
optimal_ubp_model/
optimal_ubp_model/*
output*
*.egg-info
*.egg
build/
venv/
venv/*
Rplot*.png
input.fa
.Rhistory
*_reports/
reports/
bias_INDV20_popmap.txt
bias_INDV20_popmap2.txt
biasINDV20_popmap.txt